terraform/layer-base/.terraform
terraform/layer-bastion/.terraform
terraform/layer-eks/.terraform
terraform/layer-alb/.terraform
terraform/connect-aws.sh

tmp/.kubeconfig
tmp/cm_auth.yaml
terraform/layer-base/errored.tfstate
terraform/layer-bastion/errored.tfstate
terraform/layer-alb/errored.tfstate
terraform/layer-eks/errored.tfstate
