terraform/**/errored.tfstate
terraform/**/.terraform

terraform/component_eks/cilium.tar.gz
terraform/component_eks/cilium-*

connect-aws.sh
connect-accor.sh
connect-ec.sh

iac/tmp/.kubeconfig_*
iac/tmp/cm_auth_*.yaml

**/*.pyc
