[Unit]
Description=alertmanager-sns-forwarder
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Environment=AWS_REGION=eu-west-1
Restart=always
RestartSec=1
User={{ service_user }}
ExecStart=/usr/local/bin/alertmanager-sns-forwarder --template-path /etc/alertmanager-sns-forwarder/template.tpl

[Install]
WantedBy=multi-user.target