<h1>{{.CommonLabels.alertname}}</h1>
<br />
<h2>Description de l'alerte</h2>
{{.CommonAnnotations.description}}
<br />
<h3>Receive from</h3>
{{.Receiver}}
<br />
<h3>Status</h3>
{{.Status}}
<br />
<b>Active Alert List:</b>
{{ range $val := .Alerts -}}
  Description: {{$val.description}}
  Summary: {{$val.summary}}
  -----
{{ end}}
<br />
<b>Version:</b>{{.Version}}