{{.CommonLabels.alertname}}

Description de l'alerte:
{{.CommonAnnotations.description}}

Receive from: {{.Receiver}}
Status: {{.Status}}

Active Alert List:
{{ range .Alerts -}}
  Description: {{ .Annotations.description }}
  Summary: {{ .Annotations.summary }}
  -----
{{ end }}

Version:{{.Version}}